@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body {
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: lightcyan;
}

#container {
    margin: auto;
    width: 600px;
    padding: 5px;
}

#title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    margin: 5px;
}

#list {
    margin: auto;
    width: fit-content;
}

#thingstodo {
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 17px;
    padding: 7px;
    padding-left: 15px;
    width: 300px;
}

#thingstodo:focus {
    outline: none;
}

#addTodo:hover {
    cursor: pointer;
}

.todosAdd {
    padding-left: 15px;
    padding-right: 10px;
}

.fa-check {
    color: rgb(213, 242, 252);
}

.fa-check:hover {
    color: rgb(85, 180, 180);
    cursor: pointer;
}

.deleteLi {
    animation-name: checked;
    animation-duration: 0.3s;
}

@keyframes checked {
    from {
        opacity: 1
    }
    50% {
        opacity: 0.50
    }
    to {
        opacity: 0
    }
}

li {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    list-style: none;
    margin: auto;
    width: 430px;
    text-align: left;
    line-height: 30px;
}

li:hover .btnPriority {
    transform: scale(1);
}

#addTodo {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 0px;
}

.btnPriority {
    background-color: rgb(193, 234, 248);
    font-weight: bold;
    border-radius: 25%;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    border: none;
    transform: scale(0);
    transition: transform 200ms;
}

.highBtn {
    margin: 5px;
    width: 30px;
    height: 30px;
    animation: highBtnAnimation 1s;
    animation-iteration-count: infinite;
}

.mediumBtn {
    margin: 5px;
    width: 50px;
    height: 30px;
    animation: mediumBtnAnimation 1s;
    animation-iteration-count: infinite;
}

.lowBtn {
    margin: 5px;
    width: 30px;
    height: 30px;
    animation: lowBtnAnimation 1s;
    animation-iteration-count: infinite;
}

@keyframes highBtnAnimation {
    from {
        color: black
    }
    to {
        color: rgb(247, 78, 78)
    }
}

@keyframes mediumBtnAnimation {
    from {
        color: black
    }
    to {
        color: rgb(255, 252, 60)
    }
}

@keyframes lowBtnAnimation {
    from {
        color: black
    }
    to {
        color: rgb(92, 238, 92)
    }
}

.redIsHigh {
    color: rgb(247, 78, 78);
    animation: highBtnAnimation 0.5s;
}

.yellowIsMedium {
    color: rgb(255, 252, 60);
    animation: mediumBtnAnimation 0.5s;
}

.greenIsLow {
    color: rgb(92, 238, 92);
    animation: lowBtnAnimation 0.5s;
}

button.btnPriority:hover {
    color: rgb(58, 255, 255);
    cursor: pointer;
    background-color: rgb(106, 233, 233);
}

button:focus {
    outline: none;
}